.mainContainer{
    width: 70%;
    height: 70%;
    background-color: #FAF9F6 !important;
    margin-top: 5%;
    display: flex;
    box-shadow: 6px 8px 11px 1px darkgrey;
}
.editBtn{
    margin-top: 25px;
    cursor: pointer;    
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #6fa9be;
    border-color: #aec6cf;
    min-width: fit-content;

    
}

.editBtn:hover{
    color: #fff;
    background-color: #aec6cf;
    border-color: #aec6cf;
}